<a href="https://colab.research.google.com/github/ac-26/CSI-25/blob/main/week1_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Week-1 Assignment -> Create lower triangular, upper triangular and pyramid containing the "*" character.**

### **By -> Arnav Chopra**

### **This is the function to print Lower Triangle.**

In [5]:
def lower_triangle(n):
    for i in range(1, n + 1):
        print("* " * i)
    print()

### **This is the function to print Upper Triangle.**

In [2]:
def upper_triangle(n):
    for i in range(n, 0, -1):
        print("* " * i)
    print()

### **This is the function to print Pyramid**

In [6]:
def pyramid(n):
    for i in range(1, n + 1):
        spaces = ' ' * (n - i)
        stars = '* ' * i
        print(spaces + stars)
    print()

### **Running the functions**

In [7]:
rows = int(input("Enter the number of rows: "))
lower_triangle(rows)
upper_triangle(rows)
pyramid(rows)

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *

* * * * *
* * * *
* * *
* *
*

    *
   * *
  * * *
 * * * *
* * * * *